@font-face {
  font-family: 'Publico Headline Web';
  src: url('/fonts/publicoHeadline-bold-web.woff2') format('woff2'),
    url('/fonts/publicoHeadline-bold-web.woff') format('woff');
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Benton Sans Reg';
  src: url('/fonts/benton-sans-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  font-family: 'Benton Sans Reg', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

a {
  color: #848484;
  transition: color .3s ease;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000000;
}

.wrapper {
  box-sizing: border-box;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

header {
  text-align: center;
}

main {
  padding-top: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}
main .wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 1rem 0;
  text-align: center;
  font: 600 0.8125rem/1.1 "Benton Sans Reg", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Publico Headline Web', Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  line-height: 1.2;
}

.input {
  background: #c6c6c6;
  display: flex;
  margin-bottom: 1rem;
}
.input.var_buttons {
  background: transparent;
  margin-top: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.slider {
  flex: 1;
  background: #c6c6c6;
  padding: 1rem 1.25rem;
  border-radius: 0.1875rem;
}

.slider label,
button span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.value {
  font-size: 1.5rem;
  padding-left: 1rem;
  align-self: center;
  width: 2.5rem;
  text-align: right;
}

button {
  flex: 1;
  min-height: 3.25rem;
  margin: 0 0.5rem;
  padding: 1.375rem 1.25rem;
  border-radius: 0.1875rem;
  border: none;
  font: 600 0.9375rem/1.1 "Benton Sans Reg", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  background: #c6c6c6;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
  -webkit-user-select: none; /* Allow for tap and hold */
}
button:hover,
button:focus {
  background: #000;
  outline: 0;
}
.touch button:hover,
.touch button:focus {
  background: #c6c6c6;
}
button[aria-pressed=true],
.touch button[aria-pressed=true] {
  background: #cc3a57;
}

.github {
  display: inline-block;
}
.github svg {
  position: relative;
  top: 0.1em;
  margin-left: 0.2em;
  fill: #848484;
  transition: fill .3s ease;
  width: 1em;
  height: 1em;
}
.github:hover svg,
.github:focus svg {
  fill: #000000;
}

/* Styles adapted from https://github.com/selz/rangetouch */
input[type=range] {
  display: block;
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  background: 0 0
}
input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: #fff;
  border: 0;
  border-radius: 1px;
  -webkit-user-select: none;
  user-select: none;
  transition: background .3s ease;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10px;
  position: relative;
  height: 22px;
  width: 22px;
  background: #000;
  border-radius: 100%;
  transition: background .3s ease;
  box-sizing: border-box
}
input[type=range]::-moz-range-track {
  height: 2px;
  background: #fff;
  border: 0;
  border-radius: 1px;
  -moz-user-select: none;
  user-select: none
}
input[type=range]::-moz-range-thumb {
  position: relative;
  height: 22px;
  width: 22px;
  background: #000;
  border-radius: 100%;
  transition: background .3s ease;
  box-sizing: border-box
}
input[type=range]::-moz-focus-outer {
  border: 0
}
input[type=range]::-ms-track {
  height: 2px;
  background: 0 0;
  border: 0;
  color: transparent
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  height: 2px;
  background: #fff;
  border: 0;
  border-radius: 1px;
  -ms-user-select: none;
  user-select: none
}
input[type=range]::-ms-thumb {
  position: relative;
  height: 22px;
  width: 22px;
  background: #000;
  border-radius: 100%;
  transition: background .3s ease;
  box-sizing: border-box;
  margin-top: 0
}
input[type=range]::-ms-tooltip {
  display: none
}
input[type=range]:focus {
  outline: 0
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #333333
}
input[type=range]::-moz-range-track {
  background: #333333
}
input[type=range]::-ms-track {
  background: #333333
}



@media (max-width: 50rem) {

  body {
    font-size: 81.25%;
  }

  h1 {
    font-size: 3rem;
  }
}